<alert type="success">Seach books in the input below and search </alert>



<div class="col-md-12">
  <form class="form-inline waves-light" mdbWavesEffect>
    <div class="md-form mt-0">
      <input name=search [(ngModel)]="searching" #search class="form-control mr-sm-2" type="text" placeholder="Search"> <button (click)="OnSearchClick(search.value)">Search</button>
    </div>  <!-- Search form -->
  </form>
</div>

<br/><br/><br/>
<div class="col-md-12"> 
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Type</th>
        <th scope="col">Author</th>
        <th scope="col">EditionCount</th>
        <th scope="col">PublishYear</th>
        <th scope="col">PublishDate</th>
        <th scope="col">Publisher</th>
        <th scope="col">Isbn</th>
        <th scope="col">Subject</th>
        <th scope="col">Key</th>
       
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let book of books">
        <td>{{book.title}}</td>
        <td>{{book.type}}</td>
        <td>{{book.authorName}}</td>
        <td>{{book.editionCount}}</td>
        <td>{{book.publishYear}}</td>
        <td>{{book.publishDate}}</td>
        <td>{{book.publisher}}</td>
        <td>{{book.isbn}}</td>
        <td>{{book.subject}}</td>
        <td>{{book.key}}</td>
        
        <!-- <td>{{hero.strength}}</td>
        <td>{{hero.intelligence}}</td>
        <td>{{hero.stamina}}</td> -->
        <!-- <td><button (click)="OnEvolveClick(hero,'evolve')">Evolve</button></td> -->
      </tr>
    </tbody>
  </table>

